body{
    margin: 0px;
}
.mainmenu{
    background-color:#FF7171;
    height: 8vh;   
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
}
.text1{
    font-family: 'Times New Roman';
    color: black;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 3px;
}
.menubar{
    height: 40px;
    padding-top: 7px;
}



.bg-container{
    background-image: linear-gradient(to right ,#FFF6AE,#FFB4EE);
    display: flex;
    flex-direction: row;
}
.bodytext{
    
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 15px;

}
.title{
    font-family: 'Arial';
    letter-spacing: 3px;
    font-weight: 700;
    padding-bottom: 40px;
    font-size: 40px;
    
    
    
}
.description{
    font-family: "Roboto";
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 90px;
}
.clickbutton{
    height: 37px;
    width: 185px;
    color: white;
    background-color: #FF7171;
    border-width: 0px;
    font-size: 14px;
    margin-top: 40px;
}
    
.bogyrightimage{
    height: 92vh;
    width: 50%;
    object-fit: cover;
}
@media screen and (max-width:820px){
    .header{
        display: none;
    }
    .text1{
        display: none;
    }
}

